<div class="title">
    <h1>STUDENT'S INFORMATION</h1>
</div>

<div *ngIf="student !=null" class="container">
    <mat-card class="card">
        <app-spinner *ngIf="loading"></app-spinner>
        
        <mat-card-title>Estudiante</mat-card-title>
        <br>
        <mat-card-content>
            <p><strong> Name: </strong> {{student.name}} </p>
            <p><strong> Gender: </strong> {{ student.gender === 1 ? 'Male' : 'Female' }} </p>
            <p><strong> Birthday: </strong> {{student.birthday | date }} </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/liststudents" mat-raised-button>Return</button>
        </mat-card-actions>

    </mat-card>
   
</div>

