<div class="title">
    <h1>Ver Estudiante</h1>
</div>

<div *ngIf="student !=null" class="container">
    <mat-card class="card">
        <app-spinner *ngIf="loading"></app-spinner>
        
        <mat-card-title>Estudiante</mat-card-title>
        <br>
        <mat-card-content>
            <p><strong> Nombre: </strong> {{student.name}} </p>
            <p><strong> Genero: </strong> {{student.gender}} </p>
            <p><strong> Nacimiento: </strong> {{student.birthday | date }} </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/liststudents" mat-raised-button>Volver</button>
        </mat-card-actions>

    </mat-card>
   
</div>

